body {
  background-image: url("Images/HCC Hero.png");
  background-position: none;
  background-position: cover;
}
.nav {
  float: left;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 18px;
}
.header {
  justify-content: right;
}
