.background-image {
    background-repeat: no-repeat;
    background-size: cover;   
    color: linear-gradient(0deg, rgba(9, 9, 9, 0.36));;
 }
  
  .header {
    padding: 50px;
    text-align: right;
    font-size: 30px;
    width: 100;
 }
  
  .background-text {
    background-color: rgba(18, 17, 17, 0.3); 
    filter: drop-shadow(16px 16px 10px black);
    color: white;
    border: none;
    position: absolute;
    top: 25%;
    left: 10%;
    right: 10%;
    border-bottom: 20%;
    z-index: 1;
    width: 60%;   
    padding: 10%;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
  
    .logo {
    position: absolute; 
    top: 60px;
    left:200px; 
 }
   
  nav {
    display: in-line block;
    position: absolute; 
    top:75px;
    right:400px;
    padding: 0;
    margin: 0;
    text-decoration: none; 
    text-align: left;
    font-size: 18px;
    font-weight:500;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
  
  nav {
    float: center;
 }
   
  nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
 }
  
  nav a:hover {
  border-bottom:3px solid rgb(26, 24, 24);
 }
  
  .button {
      position: absolute;
      border-radius: 10px; 
      padding: 15px;
      height: 60px; 
      width: 200px;
      font-size: 28px; 
      font-weight: bold;  
      right: 100px;
      bottom: 50px;
 }
  
  .button2 {
      position: absolute;
      border-radius: 5px; 
      height: 35px; 
      width: 80px;
      left: 570px;
      font-size: 16px; 
      font-weight: bold;  
      padding: 6px;
 }
  
  .Search {
    position: absolute; 
    right: 95px;
    padding: 12px;
    border: radius 15px;
 }
  
  .calendar {
    position: absolute; 
    left: 1070px;
    padding: 8px;
 }

 footer {
    background-color: black;
    text-align: left;
    color: white;
    height: 100px;
    display: block;
    padding: 20px;
 }